.form-control {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 10px;
    font-size: 15px;
    line-height: 1.42857143;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.form-control::-moz-placeholder {
    color: #cccccc;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #cccccc;
}

.form-control::-webkit-input-placeholder {
    color: #cccccc;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #ebebeb;
    opacity: 1;
}

textarea.form-control {
    height: 200px;
}


