<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <center>
	  <div><p>. . .</p></div>
	  <div class="circular">
	  </div></center>
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <div class="sidebar-item">

<a rel="linkedin" href="http://ca.linkedin.com/in/mszargar"><img alt="LinkedIn" style="border-width:0" src="/public/image/linkedin.png" /></a>
<a rel="twitter" href="http://twitter.com/mszargar"><img alt="Twitter" style="border-width:0" src="/public/image/twitter.png" /></a>
<a rel="github" href="http://github.com/retrography"><img alt="Github" style="border-width:0" src="/public/image/github.png" /></a>
<a rel="instagram" href="http://instagr.am/ofjoynpain"><img alt="Instagram" style="border-width:0" src="/public/image/instagram.png" /></a>
<a rel="tumblr" href="http://ofjoy.tumblr.com"><img alt="Tumblr" style="border-width:0" src="/public/image/tumblr.png" /></a>

  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">blog</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

<!--    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>


	<center>
		<div class="cc-logo">
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
	</div>
	</center>
	The content of this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

<!--      &copy; {{ site.time | date: '%Y' }}. All rights reserved. -->
    </p>
  </div>
</div>
